{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-2">Admin</h1>
    <hr>
    <h3 class="text-center">Catégorie</h3>
    <div class="d-flex justify-content-between">
        <a href="#">Trajet</a>
        <a href="#">Utilisateurs</a>
        <a href="#">Véhicule</a>
        <a href="#">Chauffeur</a>
    </div>
    <hr>

</div>
{% endblock %}