{% extends 'base.html.twig' %}

{% block head %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="generator" content="Jekyll v3.8.5">

{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="stylesheets/base.css">
{% endblock %}

{% block body %}

<!-- <script> alert(" En poursuivant votre navigation, vous acceptez l‘utilisation de cookies pour activer  certaines fonctionnalités et améliorer nos offres. Pour en savoir plus, consultez notre politique de protection de données personnelles."); </script> -->


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" style="background-image: url(images/home02.jpg)" id="imgHome">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal" style="color: white">Alsace navette</h1>
        <p class="lead font-weight-normal" style="color: white" >LA ON A LA SECURITE</p>
        <a class="btn btn-outline-white" href="#" style="color: white" >Coming soon</a>
    </div>
</div>

<div class="d-md-flex flex-md-equal w-90 my-md-3 pl-md-3">
    <div class="shadow-lg mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <img class="img-top-body" src="images/airport-logo.png">
            <p class="lead" style="color:black;">Petit texte.</p>
            <a href="/aeroport" class="btn btn-yellow">Y Accéder</a>
        </div>
    </div>
    <div class="shadow-lg  mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <img class="img-top-body" src="images/shopping-logo.png">
            <p class="lead" style="color:black;">Petit texte.</p>
            <a href="/aeroport" class="btn btn-yellow">Y Accéder</a>
        </div>
    </div>
</div>

<div class="d-md-flex flex-md-equal w-90 my-md-3 pl-md-3">
    <div class="shadow-lg  mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <img class="img-top-body" src="images/logo_royal_palace.png" width="391" height="270">
            <p class="lead" style="color:black;">Petit texte.</p>
            <a href="/aeroport" class="btn btn-yellow">Y Accéder</a>
        </div>
    </div>
    <div class="shadow-lg  mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <img class="img-top-body" src="images/airport-logo.png">
            <p class="lead" style="color:black;">Petit texte.</p>
            <a href="/aeroport" class="btn btn-yellow">Y Accéder</a>
        </div>
    </div>
</div>


{% endblock %}